.ammo-display {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  font-size: 28px;
  color: white;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
