.pause-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(28, 33, 39, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  user-select: none;
  pointer-events: none;
  width: 200px;
  height: 60px;
  background-color: white;
  color: black;
  font-weight: bolder;
  font-size: 26px;
  letter-spacing: 5px;
  border: 1px solid white;
  padding: 30px;
  cursor: pointer;
  transition: all;
  animation: delayClicks 2s forwards;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes delayClicks {
  0% {
    pointer-events: none;
    background-color: grey;
  }
  100% {
    pointer-events: all;
    background-color: white;
    cursor: pointer;
  }
}
